body {
	background-color: #f0efe1;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center; }

hr { margin: 0px; padding: 0px; }

#point { left: 50%; 	position: absolute;	top: 50%; }

#point #Start {
	background-image: url(ProdStartFond.jpg);
	height: 400px;
	left: -300px;
	position: absolute;
	top: -200px;
	text-align: right;
	width: 600px; }

#point #T400x400 {
	height: 400px;
	left: -200px;
	position: absolute;
	top: -200px;
	text-align: center;
	width: 400px; }

.ligne1 {	margin: 30px 35px 0px 0px;	padding: 0px; }
.ligne2 {	margin: 16px 35px 0px 0px;	padding: 0px; }
.ligne3 {	margin: 6px 35px 0px 0px;	padding: 0px; }

img {	border: 0px;	margin: 0px;	padding: 0px; }

.centrer {	text-align: center; }